@keyframes fireAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fire-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    animation: fireAnimation 0.5s ease forwards;
    background: url('https://i.ibb.co/sVXkS8q/fire.png') center center/cover no-repeat;
    width: 50px;
    height: 50px;
  }

  .fire-container:hover .fire-effect {
    opacity: 1;
  }