@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;


.nav-link {
  color: #333, /* set the text color to a dark gray */
  text-decoration none /* remove the underline */
}

.nav-link:hover {
  text-decoration: underline,/* add an underline on hover */
}

#home_navi_menu {
	font-size: 23;
	margin-right: 10px;
  font-family: 'Courier New', Courier, monospace;
}


body {
	/* background-image: url('../images/car.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
}

body {
  font-family: Arial, sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: rgb(255,255,255,.5);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

select{
  border:none;
  padding: 10px 5px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
  height: 100px;
}

button {
  background-color: blue;
  color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row label,
.form-row input {
  margin-right: 20px; /* Adjust spacing between elements */
  margin-bottom: 10px; /* Adjust vertical spacing between rows */
}

.form-row label {
  min-width: 100px; /* Set minimum width for labels to ensure alignment */
}